:root{
    --accentColor: #FFC700;
    --mainColor: #FFFFFF;
    --bgColorDark:#060803;
    --bgColorLight:#222527;
    --modalFormBgColor:rgba(255,255,255,0.4);
}
.about, .codex{
    background-color: var(--bgColorDark);
    background-image: url('../img/space.jpg');
}
.about-warn{
    color: var(--mainColor);
    mix-blend-mode: difference;
}
.achivements, footer, .modal-form, .modal-success{
    background-color: var(--bgColorLight);
}
h1, h2, h3, h4, .about-skill{
    color:var(--accentColor);
}
button, .slider:before {
    background-color: var(--accentColor);
}
.modal-container{
    background-color: var(--modalFormBgColor);
}
svg{
    fill:var(--accentColor);
}
.button-exit svg{
    fill:var(--mainColor);
}
p, .about-skill span, .modal-form label, .switcher-theme-name{
    color: var(--mainColor);
}
.slider {
    border: 1px solid var(--accentColor);
}
.modal-form input{
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
}
.go-back-button {
    background-color: var(--accentColor);
    color:  var(--bgColorDark);
  }
.go-back-button:hover{
    background-color: var(--modalFormBgColor);
  }
