html, body{
    height: 100%;
    width: 100%;
}
body{
    font-family: 'Montserrat', sans-serif;
}
P,h1, h2, h3, h4, label, input{
    letter-spacing: 0.01em;
    font-size: 16px;
    line-height: 24px;
}
h1{
    font-style: italic;
    font-weight: bold;
    font-size: 46px;
    line-height: 60px;
    letter-spacing: 0.02em;
}
h2, h3, h4{
    font-weight: bold;
}
.container{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1176px;
    margin: 0 auto;

}
header{
    padding: 32px 0 72px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
button{
    border: 0;
    outline: 0;
    border-radius: 38px;
    cursor: pointer;
    padding: 16px 32px 16px 32px;
}
/* start of switcher block */
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 19px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 2;
}
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 3px;
    bottom: 2px;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.switcher {
    display: flex;
    align-items: center;
}
.switcher-theme-name {
    background: none;
    outline: none;
    border: none;
    font-size: 16px;
    line-height: 24px;
}
/* end of switcher block */
.about{
    position:relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
}
.about-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.about-name{
    font-family: Montserrat;
    margin-bottom: 24px;
}
.about-rank{
    margin-bottom: 16px;
}
.about-skill{
    margin-bottom: 16px;
    margin-left: 18px;
    margin-bottom: 8px;
    list-style: disc;
}
.about-social{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 30%;
}
.social-link{
    margin-bottom: 27px;
}
.cta-button{
    margin-top: 40px;
}

.about-warnings{  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width:100%;
    margin-bottom: 60px;
}
.person-img{
    position: absolute;
    right: 0;
    bottom: 0;
}
.person-bg-accent-img{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -96px;
    margin: auto;
    opacity: 40%;
}
.achivements{
    padding: 60px 0;
}
.achivements-header{
    margin-bottom: 64px;
}

.achivements-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.achivement-item{
    width: 24%;
}
.achivement-item-logo{
    width: 60px;
    height: 60px;
}
.achivement-item-header{
    margin: 36px 0 4px 0;
}
.codex{
    padding: 186px 0;
    background-size: cover;
    background-attachment: fixed;
}
.codex .container{
    flex-direction: row;
    width: 100%;
}
.codex-left-side{
    width: 50%;
}
.codex-right-side{
    width: 50%;
}
.codex-quote-header{
    margin-bottom: 32px;
}
.codex-quote{
    margin-bottom: 4px;
}
.codex-warn{
    margin-top: 60px;
}
footer{
    padding: 60px 0 60px 0;
}
footer .container{
    align-items:center;
}
.footer-message{
    text-align: center;
    margin-bottom: 54px;
    width: 740px;
}

.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s ease-out;
}
.modal-form, .modal-success{
    padding: 40px 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-exit{
    position: absolute;
    top: 8px;
    right: 0px;
    background: none;
    border: none;
    outline: none;
    cursor:pointer;
}
.modal-title{
    margin-bottom: 4px;
    text-align: center;
}
.modal-descr{
    margin-bottom: 32px;
    text-align: center;
}
.modal-form-input-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.modal-form input{
    background: none;
    width: 440px;
    height: 40px;
    outline: none;
    box-sizing: border-box;
}
.button-submit{
    margin-top: 16px;
}
.modal-active{
    opacity:1;
    pointer-events: all;
    overflow: hidden;
}
.modal-success-title{
    margin-bottom: 112px;
}
.modal-success-message{
    margin-bottom: 32px;
    text-align: center;
    width: 440px;
}
.go-back-button {
    display: none;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer; 
    padding:0.5em;
    border-radius: 100%;
    font-size: 24px;
    text-align: center;
    line-height: 24px;
  }
  /* Desktops */
  @media screen and (min-width: 2100px){
    .container{
        max-width: 2000px;
    }
  }
  @media screen and (min-width: 1920px) and (max-width: 2100px) {
    .container{
        max-width: 1730px;
    }
  }
  @media screen and (min-width: 1700px) and (max-width: 1920px) {
    .container{
        max-width: 1610px;
    }
  }
  @media screen and (min-width: 1500px) and (max-width: 1700px) {
    .container{
        max-width: 1410px;
    }
  }
  /* Small laptops */
  @media screen and (min-width: 1000px) and (max-width: 1200px) {
    .container{
        max-width: 910px;
    }
  }
  @media screen and (min-width: 800px) and (max-width: 1000px) {
    .container{
        max-width: 760px;
    }
    .person-bg-accent-img{
        opacity: 0%;
    }
  }
  /* Mobile */
  @media screen and (min-width: 520px) and (max-width: 800px) {
    .container{
        max-width: 500px;
    }
    .person-bg-accent-img{
        opacity: 0%;
    }
    .about-social{
        top: 15%;
    }
    .about-content{
        align-items:center;
    }
    .about-name{
        text-align: center;
    }
    .about-rank{
        text-align: center;
    }
    .about-skill{
        margin-left: -70%;
    }
    .cta-button{
        justify-content: center;
        align-items: center;
        margin-bottom: 20%;
    }
    .about-warnings{  
        display: none;
    }
    .achivements-header{
        text-align: center;
        width: 100%;
    }
    .achivements-items{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .achivement-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
    }
    .codex .container{
        flex-direction: column;
    }
    .codex-left-side{
        width: 100%;
    }
    .codex-right-side{
        margin-top: 60px;
        width: 100%;
    }
    .footer-message{
        width: 480px;
    }
}
@media screen and (max-height: 700px) {
    .switcher-theme-name{
        display: none;
    }
    .about-social{
        top: 12%;
    }
    .about ul{
        display: none;
    }
    .about-warnings{  
        display: none;
    }
    .cta-button{
        margin-bottom: 20%;
    }
}
@media screen and (min-width: 300px)  and (max-width: 520px) {
    .container{
        max-width: 300px;
    }
    .about-content{
        align-items:center;
    }
    .about-name{
        text-align: center;
    }
    .about-rank{
        text-align: center;
    }
    .cta-button{
        justify-content: center;
        align-items: center;
        margin-bottom: 20%;
    }
    .about-warnings{  
        display: none;
    }
    .achivements-header{
        text-align: center;
        width: 100%;
    }
    .achivements-items{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .achivement-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
    }
    .codex .container{
        flex-direction: column;
    }
    .codex-left-side{
        width: 100%;
    }
    .codex-right-side{
        margin-top: 60px;
        width: 100%;
    }
    .footer-message{
        width: 280px;
    }
    .modal-form input{
        background: none;
        width: 280px;
        height: 40px;
        outline: none;
        box-sizing: border-box;
    }
    .button-submit{
        margin-top: 16px;
    }
    .modal-success-title{
        margin-bottom: 20%;
    }
    .modal-success-message{
        width: 280px;
    }
}

